{% extends "base.html" %}
{% block title%}
Quiz App | Home
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>

    </ul>
</div>
{% endblock %}
{% block content %}
<h1 class="center">Welcome to Quiz App</h1>
<br>
<h2 class="center">Select the catagory to begin with the Quiz in that catagory</h2>
{% endblock %}