{% extends "base.html" %}
{% block title%}
Quiz App | Home
{% endblock %}
{% block css %}
    <style>
    .main {
    background-color: #FFFFFF;
    width: 85vw;
    height:100%;
    margin-top:5%;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin-left:auto;
    margin-bottom:auto;
    margin-right:auto;
    }
    .home{
    padding-top: 40px;
    color: #8C55AA;
    font-size: 23px;
    }
    </style>
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="main home">
    <h1 class="center">Welcome to Quiz App</h1>
    <br>
    <h2 class="center">Select the catagory to begin with the Quiz in that catagory</h2>
    <br>
    {% for choice in choices %}
    <div class="row">
        <div class="offset-md-2 col-md-4">
            <a href="/quiz/{{ choice.0 }}"><h3>{{ choice.1 }}</h3></a>
            <br>
        </div>

    </div>
{% endfor %}
{% endblock %}